## Phase-1
* Python Introduction
* Python features
* Python History
* Python Installation
* Python variables
* Python Data types
* Python Keywords and modules
* markdown format
* operators
* conditional statements
* Iterators
* Data Structures
* Functions
* Files
* packages and modules
* Regular Expressions

## Introduction                                                       
* python is a object oriented(classes,objects)  and scripting(no compilied) programming language.
* It is simple and easy to learn
* python 2 vs python 3 differences

## Features
* Easy to Learn
* free and open source
* portability
* Expressive language
* intepreted language
* cross-platform language
* GUI
* object oriented language

## History
* Guido van Rossum is created 1989
* released on 1991
* python 1 1994
* python2 2000
* python3 2008
## who uses python 
* NASA
* Google 
* public broadcast service

## python installation

In [ ]:
28+40

## variables
* value to store a reserved memory

In [ ]:
_1=10
print(a)

In [ ]:
help()

In [ ]:
a=10
type(a)

In [ ]:
a=1.8
type(a)

In [ ]:
a="python"
print(type(a))

In [ ]:
ord('A')

In [ ]:
chr(65)

In [ ]:
for i in range(ord('A'),ord('Z')+1):
    if i%2==0:
        
        print(i,"--->",chr(i))

In [2]:
s=input().split()
#rint(s[0].swapcase(),s[1].replace("Python","Guntur"))
#print(s[0].upper())
print(s[0],s[1].replace("python","lbrce"))

welcome python
welcome lbrce

In [ ]:
s=input().split()
print(sum(list(map(int,s))))

In [7]:
s=input().split('@')
print(s[0].title())

sreevidyachintala@gmail.com
Sreevidyachintala

In [19]:
s=input().split()
v=('a','e','i','o','u')
for i in s:
    if i.endswith(v):
        pass
    else:
        print(i)

chint
chint

In [ ]:
s="apssdc PyThoN"
s1=s.split()
s1[1].swapcase()

In [ ]:
def sample(name):
    print(name)
sample('lara')

In [ ]:
# required Argument
def add(a,b):
    return a+b
a=int(input())
b=int(input())
print("addition of two numbers",add(a,b))

In [3]:
# Keyword Argument
def infor(name,age):
    print("my name is",name,"age is",age)
infor(name="vidya",age=23)

my name is vidya age is 23

In [4]:
#Default Argument
def infor(name="sree",age=23):
    print("my name is ",name,"age is ",age)
infor(name="vidya",age=32)

my name is  vidya age is  32

In [ ]:
#variable length Argument
def names(*name):
    for i in name:
        print(i)
names("sree","vidya","anu","chintala")

In [ ]:
dir(dict)

In [5]:
d={1:28,2:'vidya',3:4.5}
print(d.keys())
print(d.values())
print(d.items())
print(d.fromkeys('4'))
print(d.get(2))

dict_keys([1, 2, 3])
dict_values([28, 'vidya', 4.5])
dict_items([(1, 28), (2, 'vidya'), (3, 4.5)])
{'4': None}
vidya

In [6]:
car={"year":2020,"model":"BMW","color":"white"}
car.update({"price":"1lac"})
car.setdefault(4)
car.popitem()
car.pop("model")
car

{'year': 2020, 'color': 'white', 'price': '1lac'}

In [ ]:
from packages.sample import even as e
e(6)

In [ ]:
with open('data.txt','r') as f1:
    f=f1.readlines()
    for i in f:
        new = i.replace("is","and")
with open('data.txt','w') as g:
    g1 = g.write(new)

In [ ]:
n=0
f=open('data.txt','r')
for i in f:
    w=i.split()
    w_c+=len(w)
print(w_c)

In [ ]:
with open('data.txt','a') as f:
    f1=

In [ ]:
import random
with open('data.txt','w') as f:
    for i in range(1,100):
        f.write(str(i)+"\n")

In [ ]:
with open('replace.txt','w') as f1:
    s  = ["ram","sam"]
    for i in s:
        f1.write(i)
with open('replace.txt','r') as f1:
    f = f1.readlines()
    for i in f:
        if i == "ram":
            new = i.replace("sam")
with open('replace.txt','a') as f1:
    f1.write(new)
with open('replace.txt','r') as f1:
    f = f1.readlines()
    print(f,end = "\n")

In [ ]:
fin = open("data1.txt", "rt")
fout = open("out.txt", "wt")

for line in fin:
    fout.write(line.replace('pyton', 'python'))

fin.close()
fout.close()

In [ ]:
with open('replace1.txt','w') as f1:
    s  = ["ram","sam","vidya","lalitha","Kavitha"]
    for i in s:
        f1.write(i+"\n")

In [ ]:
with open('replace1.txt','r') as f1:
    f = f1.readlines()
    print(f)

In [ ]:
f = open('replace1.txt','r')
data = f.read()
for word in data.split('\n'):
    if word == "ram":
        new = word.replace("ram","sam")
    with open ("replace1.txt",'a') as f:
        f.write(new+'\n')
f.close()

In [ ]:
with open('replace1.txt','r') as f1:
    f1.read()
    f1.seek(0)
    print(f1.tell())
    with open('replace1.txt','a') as f1:
        n = input()
        f1.write(n)

In [ ]:
import re
def phonenumber(n):
    p='^[+][9][1][6-9][0-9]{9}$|^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$'
    if re.match(p,str(n)):
        return True
    else:
        return False
phonenumber('+917799832974')

In [ ]:
dir(f1)

## Numpy and Pandas

In [ ]:
import numpy as np
np.array([[1,2,3,5],[6,7,8,9]])

In [ ]:
np.__version__

## List Comprehension

In [ ]:
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")

In [ ]:
#using List comprehension
l=[i for i in "python"]
l

In [ ]:
l=[i for i in range(1,50) if i%2==0]
print(l)

In [ ]:
l=[i**2 for i in range(1,10) if i%2==1]
print(l)

## Dictionary Comprehension

In [52]:
d1=[1,2,3,4]
d2=["abc","def","ghi","jkl"]
d3={k1:v1 for (k1,v1) in zip(d1,d2)}

In [56]:
type(d3)

dict

In [5]:
dict={i:i**3 for i in range(1,30) if i%2==0}

In [6]:
print(dict)

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000, 12: 1728, 14: 2744, 16: 4096, 18: 5832, 20: 8000, 22: 10648, 24: 13824, 26: 17576, 28: 21952}

In [ ]:
dict={i:i**3 for i in [1,2,3,4,5]}

In [ ]:
print(dict)

## pandas
* Pandas is the most popular python library
* Series
* DataFrames

In [1]:
# Series(one dimensional array)
#Creating Integer Values
import pandas as pd
#d1=pd.Series(Data,Index=Index)

In [3]:

data=[1,2,3,4,5]
index=[1,2,3,4,5]
pd.Series(data,index)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [5]:
# Dictionary format
d={"name":"vidya","branch":"cse","college":"gudlavalleru"}
pd.Series(d)

name              vidya
branch              cse
college    gudlavalleru
dtype: object

In [8]:
# Nd array
a=[[1,2,3,4],[5,6,7,8]]
i=[1,2]
pd.Series(a,i)

1    [1, 2, 3, 4]
2    [5, 6, 7, 8]
dtype: object

## DataFrames
* Two Dimensional array

In [42]:
l=[1,2,3,3]
l1=[5,6,7,8]
pd.DataFrame(l1,l,columns=['integers'])

   integers
1         5
2         6
3         7
3         8

In [34]:
# when data is Series
d1={1:'a',2:'b',3:'c'}
d2={4:'d',5:'e',6:'f'}
dict={"first":d1,"second":d2}
res=pd.DataFrame(dict)
res

  first second
1     a    NaN
2     b    NaN
3     c    NaN
4   NaN      d
5   NaN      e
6   NaN      f

In [37]:
res.iloc[2]

first       c
second    NaN
Name: 3, dtype: object

In [14]:
# When data is Series
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([6,7,8,9,10])
s3=pd.Series(['a','b','c','d','e'])
res={"f":s1,"s":s2,"t":s3}
pd.DataFrame(res)

   f   s  t
0  1   6  a
1  2   7  b
2  3   8  c
3  4   9  d
4  5  10  e

In [15]:
# when data is 2d numpy Array
s1=[[1,2,3,4],[5,6,7,8]]
s2=[['a','b','c','d'],['e','f','g','h']]
s3={"f1":s1,"s":s2}
pd.DataFrame(s3)

             f1             s
0  [1, 2, 3, 4]  [a, b, c, d]
1  [5, 6, 7, 8]  [e, f, g, h]

## Iteration

In [18]:
s="python"
s1=iter(s)
print(next(s1))
print(next(s1))

p
y

In [19]:
# Generators
def fun(a):
    yield a
a=[1,2,3,4]
b=fun(a)
print(next(b))

[1, 2, 3, 4]

In [24]:
def gen():
    yield 1
    yield 2
    yield 3
b=gen()
print(next(b))
print(next(b))
print(next(b))
#print(next(b))

1
2
3

In [25]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
l=(i**2 for i in range(10))
for j in l:
    print(j,end=" ")

0 1 4 9 16 25 36 49 64 81

In [31]:
x=lambda a:a+2
print("add",x(10))

add 12

In [36]:
def even(n):
    if n%2==0:
        return True
    else:
        return False
b=[2,3,4,5,6,7,9]
print(list(filter(even,b)))

[2, 4, 6]

In [1]:
import pandas as pd
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
pd

In [3]:
pd.Series([1,2,3,4],[1,2,3,4])

1    1
2    2
3    3
4    4
dtype: int64

In [6]:
d={1:'a',2:'b'}
a=pd.Series(d)
a

1    a
2    b
dtype: object

In [7]:
a[:]

1    a
2    b
dtype: object

In [8]:
a[1:]

2    b
dtype: object

In [11]:
n=int(input())
s=[i**2 for i in range(n+1)]
s1=pd.Series(s)
s1

4

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [15]:
d=[[1,2.5,'abc'],[4,5.4,'def']]
d1=pd.DataFrame(d,columns=['integer','float','string'])
d1

   integer  float string
0        1    2.5    abc
1        4    5.4    def

In [29]:
d={'name':'vidya','college':'gec'}
d1={'name':'anu','college':'vits'}
r=pd.DataFrame([d,d1],index=['FullName','Location'])
r

         college   name
FullName     gec  vidya
Location    vits    anu

In [33]:
r.loc['location']

KeyError: 'location'

In [43]:
l=[1,2,33,4,'a','b','c']
def sample(s):
    s=str(s)
    if s.isdigit():
        return True
    else:
        return False
l1=list(filter(sample,l))
print(l1)

[1, 2, 33, 4]

In [47]:
def even(n):
    if n%2==0:
        return True
    else:
        return False
n=[2,3,5,7,9,10]
print(list(map(even,n)))

[True, False, False, False, False, True]

In [51]:
def stringlen(s):
    return len(s)
s=('vidya',"anu","anju","raji")
print(list(map(stringlen,s)))

[5, 3, 4, 4]

In [1]:
n = int(input())
for i in range(1,n+1):
    i = int(input())
print(i)

5
1
2
3
4
5
5

In [9]:
x=list(filter(lambda k=[i for i in range(1,30)]:(k%2==0),k))
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [10]:
import re
s=["apssdc","andhra","pradesh"]
for i in s:
    if re.match('a',i):
        print(i)

apssdc
andhra

In [11]:
for i in s:
    if re.findall('p',i):
        print(i)

apssdc
pradesh

In [12]:
for i in s:
    if re.search('a',i):
        print(i)

apssdc
andhra
pradesh

In [15]:
x="my name is vidya and my roll numbers is 28 and 40"
y=re.findall("[a-z]+",x)
z=re.findall("[0-9]+",x)
print(y)
print(z)

['my', 'name', 'is', 'vidya', 'and', 'my', 'roll', 'numbers', 'is', 'and']
['28', '40']

In [17]:
import re
def phonenumber(n):
    p="^[6-9][0-9]{9}$|^[9][1]"
    if re.match(p,str(n)):
        return True
    else:
        return False
phonenumber('5988776655')

False